@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import './mixins/mixins';
@import './components/post';
@import './components/header';
@import './components/button';
@import './components/avatar';

body {
    background-color: #F6F7F7;
    padding-block: 82px;  
}

* {
    font-family: "DM Sans", sans-serif;
 }

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    
    .feed-msg {
        text-align: center;
        font-size: 20px;
        margin-top: 45px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}


